@using Bookshop_Project.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Routing
@inject UserManager<User> userManager

<div class="row row-cols-3 g-3">
    @foreach (var result in Model)
    {
        <div class="col">
            <div class="card">
                @if (result.CoverUrl == "")
                {
                    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b9/No_Cover.jpg" class="card-img-top" alt="" style="height: 400px" />
                }
                else
                {
                    <img src="@result.CoverUrl" class="card-img-top" alt="" style="height: 400px" />
                }
                <div class="card-body">
                    <h5 class="card-title">@result.Title</h5>
                    <p class="card-text">@result.Author</p>
                    @if (result.Price == 0)
                    {
                        <h5>No Price availabe</h5>
                    }else{
                        <h5>@result.Price$</h5>
                    }
                    
                </div>

                @if (Context.User.Identity.IsAuthenticated && (await userManager.IsInRoleAsync(await userManager.GetUserAsync(Context.User), "Admin") && @result.Price==0))
                {
                    <button class="add-price" data-book-id="@result.key">Add Price</button>
                }
                @if (Context.User.Identity.IsAuthenticated && !(await userManager.IsInRoleAsync(await userManager.GetUserAsync(Context.User), "Admin")))
                {
                    @if (result.Price == 0)
                    {
                        <form asp-controller="Home" asp-action="AskPrice">
                            <input type="hidden" name="bookId" value="@result.key" />
                        <input type="hidden" name="title" value="@result.Title" />
                        <input type="hidden" name="author" value="@result.Author" />
                        <button type="submit" class="btn btn-primary">Ask Price</button>
                    </form>
                    }else{

                    <button class="add-price" data-book-id="@result.key">Add To Cart</button>
                    }
                }
            </div>
        </div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('button.add-price').click(function () {
                var price = prompt("Enter the price:");
                if (price != null && price.trim() !== "") {
                    var bookId = $(this).data('book-id');
                    var url = '@Url.Action("AddPrice", "Home")';

                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: { bookId: bookId, price: price },
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.log(error);
                        }
                    });
                }
            });
        });
    </script>
}
